<h1><%= User.model_name.human %> <%= t('text.info') %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:biograpy) %>:</strong>
  <%= @user.biograpy %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zip) %>:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong><%= User.human_attribute_name(:adress) %>:</strong>
  <%= @user.adress %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <%= image_tag @user.avatar.variant(resize: "300x300") %>
</p>

<%= link_to t('button.back'), books_path %>
